.table-content .table-title {
    height: 30px;
    margin-bottom: 10px;
}
.table-content .table-title p {
    float: left;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.table-content .table-title .add-btn {
    float: right;
    margin-left: 20px;
}